.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-wrapper {
    margin-left: -20%;
}

.swiper-slide img {
    width: 42vw;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0 0.4em 0 ;
}

.swiper-pagination-bullet-active{
    background: var(--azul-degrade);
 }

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.4em;
    margin: 24px;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0.5em 1em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em 1em 1em;
}

.descricao {
    line-height: 21px;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.descricao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    margin: 1em 0;
    color: var(--azul);
}

.descricao__texto {
    font-size: 14px;
    margin-right: 0.5em;
    line-height: 1.5em;
}

.descricao__imagem {
    height: 168px;
}

.botoes {
    display: flex;
    align-items: center;
}

.botao__sacola {
    width: 48px;
    height: 48px;
}

.botao__favoritos {
    width: 42px;
    height: 42px;
}

.botoes__ancora {
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1em 2.2em;
}

.card__autora {
    background-color: var(--branco);
    border-radius: 0.4em;
    padding: 1em;
    margin: 24px;
}
    
.card__descricao-autor {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.botao-autora {
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1em 1em;
    text-align: center;
    margin: 1em 0 0 0;
    grid-column: span 2;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
} 

.icone-estrelas {
    margin-bottom: 0.7em;
}

@media screen and (min-width: 1024px) {
    
    .carrossel__titulo {
        padding: 32px 0 16px 0;
        font-size: 26px;
    }
    
    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
    
    .swiper {
        width: 80%;
        padding-bottom: 50px;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        position: absolute;
        width: 25%;
    }

    .swiper-button-prev {
        margin: 1% 0 0 0;
    }

    .swiper-button-next {
        margin: 1% -20% 0 0;
    }

    .swiper-button-prev::after{
        display: none;   
    }

    .swiper-button-next::after{
        display: none;   
    }

    .swiper-slide img {
        width: 20vw;
        padding: 0 1em;
    }

    .swiper-slide {
        width: 20%;
    }

    .swiper-wrapper {
        text-align: center;
        margin-left: 0;
    }

    .card, .card__autora {
        width: 60%;
        margin: auto auto 40px auto;
    }

    .descricao__imagem {
        margin-right: 0;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 8vw 3em 8vw;
        align-items: center;
    }

    .carrossel__titulo {
        padding: 2em 0 1em 0;
        font-size: 32px;
    }

    .swiper-pagination {
        margin: 1em 0 2em 0;
        text-align: center;
    }

    .swiper {
        width: 50%;
        padding: 1em;
        margin: auto;
    }

    .swiper-slide img {
        width: 11vw;
        padding: 0;
        margin: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        position: absolute;
        width: 28%;
    }

    .swiper-button-prev {
        margin: 2% 0 50% 0;
    }

    .swiper-button-next {
        margin: 2% -22% 0 0;
    }

    .card, .card__autora {
        width: 45%;
        margin-top: 7%;
    }

    .descricao__titulo {
        font-size: 32px;
        line-height: 1.2em;
    }

    .descricao__texto {
        font-size: 16px;
    }

    .botoes__ancora {
        padding: auto 32px;
    }
}